html {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background: #616161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-align: center;
  margin: 50px;
}

#book-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  margin-top: 30px;
  background: #616161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(62deg, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(62deg, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 100px 50px;
  margin: 0px 25px;
  color: whitesmoke;
  box-shadow: -20px 0px 0px black;
}

#addBtn {
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px 50px;
  font-size: 50px;
  color: rgb(59, 90, 129);
  transform: scale(1.1);
	animation: pulse 1.7s infinite;
}

#addBtn:hover {
  cursor: pointer;
}

@keyframes pulse {
	0% {transform: scale(0.9);}

	50% {transform: scale(1.1);}

	100% {transform: scale(0.9);}
}

.section {
  padding: 10px 0px;
}

#isReadText {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.red {
  opacity: 75%;
  color: red;
}

.green {
  opacity: 75%;
  color: green;
}